@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: 'Uncial Antiqua', Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 20px;
}

#pageTitle {
    font-family: 'Uncial Antiqua', Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: #ef00c7;
    background: linear-gradient(90deg, #fff, #dc48be, #fff);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 20s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#cardContainer {
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card {
    width: 300px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: center; /* Ensuring the card rotates around its center */
    border-radius: 15px; /* Ensuring the card has rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center; /* Ensuring the card face rotates around its center */
}

.card-front {
    background-color: #fff;
    flex-direction: column;
}

.card-back {
    background-color: #fff;
    transform: rotateY(180deg);
    padding: 20px;
    color: rgb(255, 0, 166);
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden; /* Ensure no scrollbars */
}

#revealButton {
    width: 100%;
    height: 100%;
    font-family: 'Uncial Antiqua', Arial, sans-serif;
    font-size: 24px;
    cursor: pointer;
    background: linear-gradient(135deg, #e245c3, #88d3ce);
    border: none;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially hidden */
}

#revealButton.fade-in {
    animation: fadeIn 10s forwards; /* Trigger fade-in animation */
}

#revealButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

#cardImage {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 15px; /* Rounded corners */
}

#cardName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    opacity: 0;
    transition: opacity 20s;
}

#cardDescription {
    opacity: 0;
    transition: opacity 1s;
    color: rgb(255, 0, 166);
    padding: 20px;
    font-size: 18px;
    max-height: 100%;
    box-sizing: border-box;
}

#affirmationContainer {
    margin-top: 20px;
    opacity: 0;
    transition: opacity 1s;
}

#cardAffirmation {
    color: rgb(0, 128, 0); /* Different color for distinction */
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
